*{
    box-sizing: border-box;
}
.cont{
    background-color: black;
    color: white;
    height: 450px;
    width: 450px;
    /* align-content: center;
    padding: 65px; */
    border-radius: 1.5em;
    
}
.oc{
    padding: 30px;
    justify-content: space-around;
}
button{
    padding: 20px;
    border-radius: 0.5em;
    border: 3px solid  white;
    margin-top: 10px;
    font-size: 20px;
}
#number{
    height: 30px;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 0.5em;
    padding: 20px;text-align: center ;
    font-size: 30px;
}
#c{
    background-color: yellow;
}